/*
# Container
*/

.l-container-1 {
	@include legacy-pie-clearfix;
}




/*
# Primary
*/


/*
## .l-primary-1
*/

.l-primary-1 {
	overflow: hidden;
	position: relative;
}




/*
# Secondary
*/


/*
## .l-secondary-1
*/

.l-secondary-1 {
	float: left;
}

